---
platform: linux
image_resource:
  type: docker-image
  source: {repository: boshcpi/cpi-certification}

inputs:
  - name: pipelines
  - name: environment
  - name: bats
  - name: director-state
  - name: bosh-cli
  - name: stemcell

run:
  path: pipelines/shared/tasks/run-bats.sh

params:
  INFRASTRUCTURE:     ""
  STEMCELL_NAME:      ""
  BAT_INFRASTRUCTURE: ""
  BAT_NETWORKING:     ""
  BAT_RSPEC_FLAGS:    ""
