---
platform: linux
image_resource:
  type: docker-image
  source: {repository: boshcpi/cpi-certification}

inputs:
  - name: pipelines
  - name: director-state
  - name: bosh-cli

run:
  path: pipelines/shared/tasks/teardown.sh
